body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    height: 600px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-top: 0;
    font-size: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  input {
    padding: 5px;
    font-size: 30px;
  }
  
  button {
    padding: 8px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 30px ;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result {
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
  }
  
/* CODE CREATER BY WARDIER */